/*!

# Dictionary compiler.

*/
#[link(name     = "compiler"
       , vers   = "0.0"
       , author = "Fançois Ripault, Sébastien Crozet"
       , uuid   = "CEBD36EE-BE11-463E-B8AC-D69910E452DD")];
#[crate_type = "bin"];
#[deny(non_camel_case_types)];
#[deny(non_uppercase_statics)];
#[deny(unnecessary_qualification)];
#[deny(missing_doc)];
#[deny(warnings)];

extern mod std;

pub mod compiler;
pub mod ptrie;
